* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: white;
}

body {
    font-family: Arial;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* starting page */
#starting-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo-starting-page {
    width: 60%;
}

#submit-button {
    width: 70px;
    height: 50px;
    text-align: center;
    background-color: pink;
}

#user-color {
    width: 300px;
    height: 300px;
    background-color: skyblue; /* sample user color */
}

/* maing page */

#main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo {
    width: 15%;
    position: absolute;
    top: 3%;
    right: 3%;
}

#main-video {
    /* full screen */
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1; /* use as background */
}

.icon-bar {
    position: absolute;
    left: 3%;
    bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 50px;
}

.user-color-smaller {
    width: 30px;
    height: 30px;
    background-color: skyblue; /* sample user color */
}

/* last page */
#last-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#last-page-instruction {
    color: black;
    font-size: 3vw;
}

#user-canvas {
    /* full screen */
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1; /* use as background */

    background-color: white;
    /* cursor: url('#cursor-svg'), auto; */ /* for custom cursor image */
}

#restart-button {
    width: 40px;
    height: 40px;
}