* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: white;
}

body {
    font-family: Arial;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* starting page */
#starting-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo-starting-page {
    width: 60%;
}

#survey {
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#submit-button {
    width: 70px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    background-color: pink;
}

#user-color {
    width: 300px;
    height: 300px;
    background-color: skyblue; /* sample user color */
}

/* main page */
#main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo {
    width: 15%;
    position: absolute;
    top: 3%;
    right: 3%;
}

#main-video {
    /* full screen */
    width: 100vw; 
    height: 56.25vw; /* 16/9 aspect ratio */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
    z-index: -1; /* use as background */
}

.icon-bar {
    position: absolute;
    z-index:2;
    left: 3%;
    bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 50px;
}

.user-color-smaller {
    width: 30px;
    height: 30px;
    background-color: skyblue; /* sample user color */
}

/* last page */
#last-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#last-page-instruction {
    color: black;
    font-size: 3vw;
    font-weight: bold;
    pointer-events: none;
    z-index: 2;

    /* make the text unselectable */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

#canvas {
    /* full screen */
    position: fixed;
    bottom: 0;
    right: 0;
    width:100%;
    height:100%;
    z-index: 1; /* use as background */

    background-color: transparent;
    /* cursor: url('#cursor-svg'), auto; */ /* for custom cursor image */
}

#restart-button {
    width: 40px;
    height: 40px;
}